<div class="fb-header">
    <div id="img1" class="fb-header"><img id="img1" src="assets/images/facebook.png" /></div>   
</div>

<div class="reset">
    <h6 class="reset-header">Reset Password</h6>
    <form [formGroup]="resetForm" class="reset-container" (ngSubmit)="Reset()">
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
            <input type="email" placeholder="Email" formControlName="email">
          </p>
      
          <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
            <div *ngIf="formControls.email.errors.required">Email is required</div>
          </div>

          <p [ngClass]="{ 'has-error': isSubmitted && formControls.dob.errors }">
            <input type="date" placeholder="Date Of Birth" formControlName="dob">
          </p>
      
          <div *ngIf="isSubmitted && formControls.dob.errors" class="help-block">
            <div *ngIf="formControls.dob.errors.required">Date of Birth is required</div>
          </div>
      
          <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" placeholder="Password" formControlName="password">
          </p>
      
          <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
            <div *ngIf="formControls.password.errors.required">Password is required</div>
          </div>
  
      <p>
        <input type="submit" value="Reset">
      </p>
    </form>
  </div>